//usar LESS??? investigar

body {
    cursor:default;
}

.personagem {
    color: cyan;
    background-color: black;
    position: absolute;
}

table .game-table {
    background-color: blue;
    border-collapse: collapse;
    border-spacing: 0;
}

.game-table td {
    width: 50px;
    height: 50px;
    border: 0px;
}

.game-table .empty {
    background-image: url("../img/empty.png");
}

.game-table .character {
    background-image: url("../img/character.png");
}

.game-table .character-objective {
    background-image: url("../img/character-objective.png");
}
.game-table .box {
    background-image: url("../img/box.png");
}

.game-table .box-objective {
    background-image: url("../img/box-objective.png");
}

.game-table .obstacle {
    background-image: url("../img/obstacle.png");
}

.game-table .objective {
    background-image: url("../img/objective.png");
}